---
import Layout from "../layouts/Layout.astro";
import InflationCalculator from "../components/InflationCalculator";

declare global {
  interface Window {
    adsbygoogle: any[];
  }
}
---

<Layout title="ARGENTISTA">
  <div
    class="flex flex-col items-center justify-center gap-8 m-auto max-w-5xl px-4"
  >
    <p class="text-center text-lg leading-relaxed">
      Descubre el estado de la economía argentina como un verdadero estadista.
      Con ARGENTISTA, accede a datos en tiempo real y comprende el impacto de la
      inflación de manera clara y sencilla.
    </p>

    <div class="flex flex-row">
      <script
        async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7173856593005932"
        crossorigin="anonymous"
        is:inline></script>
      <!-- anuncio cuadrado -->
      <ins
        class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-7173856593005932"
        data-ad-slot="5375707886"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
      <script>
        ((window as any).adsbygoogle = (window as any).adsbygoogle || []).push(
          {}
        );
      </script>

      <div class="flex flex-col items-center justify-center gap-8 w-full">
        <InflationCalculator client:load />
      </div>
    </div>
    <p class="text-center text-lg leading-relaxed">
      Nuestra herramienta te permite analizar la evolución económica del país,
      calcular la inflación con precisión y tomar decisiones informadas.
      Anticípate a los cambios del mercado con información confiable basada en
      datos actuales e históricos.
    </p>

    <p class="text-center text-md leading-relaxed">
      Explora las cifras, entiende su impacto en tu poder adquisitivo y toma el
      control de tus finanzas. ¡Empieza ahora con ARGENTISTA y conviértete en un
      experto en economía argentina!
    </p>

    <p class="text-center text-gray-500 text-sm">
      Esta aplicación utiliza la API de <a
        class="text-blue-500 underline"
        href="https://argentinadatos.com/"
        target="_blank"
        rel="noopener noreferrer">ArgentinaDatos</a
      > para ofrecer información actualizada y confiable.
    </p>
  </div>
</Layout>
