---
import Layout from "../layouts/Layout.astro";
import InflationCalculator from "../components/InflationCalculator";
import CurrencyConverter from "../components/CurrencyConverter";

declare global {
  interface Window {
    adsbygoogle: any[];
  }
}
---

<Layout title="ARGENTISTA">
  <section
    class="flex flex-col items-center justify-center gap-8 m-auto max-w-5xl px-4"
  >
    <div
      class="flex flex-col items-center justify-center m-auto max-w-5xl px-4"
    >
      <p class="text-center text-lg leading-relaxed">
        Descubre el estado de la economía argentina minuto a minuto.
      </p>
      <p class="text-center text-lg leading-relaxed">
        Con ARGENTISTA, accede a datos actuales y comprende el impacto de la
        inflación de manera clara y sencilla.
      </p>
    </div>

    <div
      class="flex flex-col items-center justify-center gap-8 m-auto max-w-5xl"
    >
      <div class="flex flex-col gap-4 w-full md:flex-row h-auto">
        <InflationCalculator client:load />
        <CurrencyConverter client:load />
      </div>
    </div>

    <p class="text-center text-gray-500 text-sm">
      Esta aplicación utiliza la API de <a
        class="text-blue-500 underline"
        href="https://argentinadatos.com/"
        target="_blank"
        rel="noopener noreferrer">ArgentinaDatos</a
      > para ofrecer información actualizada y confiable.
    </p>
  </section>
</Layout>
