---
import Layout from "../layouts/Layout.astro";
import InflationChart from "../components/InflationChart";
import InflationGraph from "../components/InflationGraph";
---

<Layout title="ARGENTISTA - Inflación">
  <div class="flex flex-col items-center justify-center gap-8 m-auto max-w-5xl">
    <div class="flex flex-col gap-4 m-auto w-full">
      <InflationGraph client:load />
      <InflationChart client:load />
    </div>
  </div>
</Layout>
