---
import GithubIcon from "../../public/Icons/GithubIcon.astro";

const currentYear = new Date().getFullYear();

const footerLinks = [
  {
    title: "Navegacion",
    links: [
      { href: "/", label: "Inicio" },
      { href: "/dolar", label: "D贸lar" },
      { href: "/inflacion", label: "Inflaci贸n" },
    ],
  },
];
---

<footer class="[grid-area:footer] bg-blue-600 text-white mt-auto">
  <div class="max-w-6xl mx-auto py-8 px-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 mb-8">
      <div class="text-center sm:text-left">
        <a href="/">
          <p
            class="text-2xl font-extrabold hover:text-blue-100 transition-colors"
          >
            ARGENTISTA
          </p>
        </a>
        <p >
          Esta aplicaci贸n utiliza la API de <a
            class="text-white underline"
            href="https://argentinadatos.com/"
            target="_blank"
            rel="noopener noreferrer">ArgentinaDatos</a
          > para ofrecer informaci贸n actualizada y confiable.
        </p>
        
        <p>
          Desarrollada por <a
            href="https://marcoszinga.vercel.app/"
            class="font-bold"
            target="_blank">Marcos Zingaretti</a
          >
        </p>
      </div>

      {
        footerLinks.map((section) => (
          <div class="text-left md:text-center">
            <h3 class="font-semibold mb-4 text-center">{section.title}</h3>
            <ul class="space-y-2 flex flex-row gap-6 justify-center">
              {section.links.map((link) => (
                <li>
                  <a
                    href={link.href}
                    class="text-blue-100 hover:text-white transition-colors"
                  >
                    {link.label}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>

    <div class="border-t border-blue-500 pt-8">
      <div class="flex flex-row sm:flex-row justify-between items-center">
        <p class="text-sm text-blue-100 mb-4 sm:mb-0">
          &copy; {currentYear} Argentista. Todos los derechos reservados.
        </p>

        <div class="flex gap-4">
          <a
            target="_blank"
            href="https://github.com/marcoszinga94/Argentista-WebApp"
            class="text-blue-100 hover:text-white transition-colors"
            aria-label="GitHub"
          >
            <GithubIcon />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
